body {
    display: flex;
    justify-content: center;
    background-color: #ede2fa;
}

.outer {
    margin-top: 20%;
}

.product-info {
    padding-top: 7px;
    padding-bottom: 7px;
}

.btn {
    padding: 15px;
    border: 1px solid #450264;
    color: #efd8fa;
    background: #2c023f;
    border-radius: 5px;
    font-weight: bolder;
    font-size: larger;
    cursor: pointer;
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

a {
    width: 150px;
    margin: 50px;
}

.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-bottom: 35px;
}

.product {
    display: flex;
    flex-direction: column;
    border-radius: 15%;
    border: 2px solid blueviolet;
    background-color: rgb(167, 231, 231);
    justify-content: center;
    text-align: center;
    padding: 5px 7px;
    margin-top: 30px;
}

.product:hover {
    transition-delay: 0.3ms;
    transform: scale(1.075);
    transition-duration: 0.5s;
    cursor: pointer;
}

.addBtn {
    padding: 5px;
    border: 1px solid #450264;
    color: #efd8fa;
    background: #2c023f;
    border-radius: 5px;
    font-size: large;
    cursor: pointer;
    text-decoration: none;
}

.addBtn:hover {
    color: #ffff;
}